* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COLOUR CODE */


/* 
Main-colour:#087f5b;
Table-colour: #e6fcf5;
Table-colour: #c3fae8;
Gray-colour: #343a40; 
*/


/* ! GENERAL STYLE */

html {
    font-family: 'Rubik', sans-serif;
    color: #444;
}

.container {
    margin: 0 auto;
    width: 1200px;
    /* background-color: red; */
}

header {
    /* background-color: aqua; */
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(cover-photo.jpg);
    background-size: cover;
    color: #fff;
    padding-top: 32px;
}

.header-container {
    width: 1200px;
    position: absolute;
    /* ! In relation to  parent size */
    left: 50%;
    top: 50%;
    /* ! In relation to element size */
    transform: translate(-50%, -50%);
    /* background-color: rebeccapurple; */
}

.header-container-inner {
    /* background-color: red; */
    width: 50%;
}

nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    /* background-color: #e67e22 */
}

h1 {
    line-height: 1.05;
    font-size: 52px;
    margin-bottom: 32px;
    letter-spacing: -1.4px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.btn:link,
.btn:visited {
    font-size: 20px;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
}

h2 {
    font-size: 44px;
    margin-bottom: 48px;
}

section {
    background-color: #f7f7f7;
    padding: 96px 0;
}