<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="herostyle.css">
</head>

<body>
    <header>
        <nav class="container">
            <div>LOGO</div>
            <div>NAVIGATION</div>
        </nav>

        <div class="header-container">
            <div class="header-container-inner">

                <h1>A healthy meal delivered to your door, every single day</h1>
                <p>The smart 365-day-per-yer food subscription that will make you eat healthy algain. Tailored to your personal testes and nutritional needs.</p>
                <a href="#" class="btn">Start eating well</a>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <h2>Some random heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit harum illo excepturi nobis consequatur placeat enim illum explicabo. Modi, minus. Suscipit beatae repellat quis numquam ut nostrum ex reiciendis molestias doloribus temporibus.Distinctio
                pariatur error laboriosam alias animi, veniam non hic nemo quis voluptatum quidem repellendus libero numquam magni dolores quas suscipit sint odio nulla veritatis. Ad, iusto? Nisi!</p>
        </div>
    </section>
</body>

</html>