// color variable declaration
$header-bgcolor: rgb(204, 204, 204);
$main-bgcolor: rgba(175, 87, 87, 0.849);
$fotter-bgcolor: rgb(68, 68, 116);
// Navigation style
nav {
    margin-top: 15px;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            margin: 0 15px;
            a {
                color: $main-bgcolor;
                text-decoration: none;
                padding: 10px;
            }
            a:hover {
                color: black;
                transition: 1s;
                border-radius: 40px;
            }
        }
    }
}

@import "reset";
header {
    background-color: $header-bgcolor;
}

//mixin and include
@mixin paragraph-style {
    font-size: 26px;
    justify-content: center;
    margin: 10px 10px;
}

// or
// @mixin paragraph-style($style, $size) {
//     font-size: $size;
//     justify-content: $style;
//     margin: 10px 10px;
// }
// #about p {
//     @include paragraph-style(18px, left);
// }
//extend and inheritance
.btn {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 50px;
}

//extend and inheritance
.btn-download {
    @extend .btn;
}

.btn-learn-more {
    @extend .btn;
}

//mixin and include
#about p {
    @include paragraph-style;
}

#Education p {
    @include paragraph-style;
}

#Play p {
    @include paragraph-style;
}

main {
    background-color: $main-bgcolor;
}

footer {
    background-color: $fotter-bgcolor;
}